// Mixins Here
.btnStyle(@bg-color, @width, @txt-color) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @bg-color;
    width: @width;
    height: 5vh;
    font-size: 1.6rem;
    border-radius: 5px;
    color: @txt-color;
}
